    <div *ngIf="showComp==true"  style="display:flex;" class="popup" id="deletDiv">

  <div class="pp">
      <img style="height: 5%; width: 5%; cursor: pointer;" (click)="CloseShowPopUp()" src="assets/Icons/close.svg">
    <form   name="frm" (submit)="login()" #frm="ngForm">
      <div style="height: 80px;"> </div>
      <mat-form-field>
        <mat-label>הכנס את מספר הטלפון שלך</mat-label>
        <input matInput #phoneUser="ngModel" [(ngModel)]="PhoneUser" name="PhoneUser" required pattern="^[0-9]*$">
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>הכנס סיסמה</mat-label>
        <input matInput type="password" [(ngModel)]="PasswordUser" name="PasswordUser" required minlength="5">
      </mat-form-field>
      <br>
      <button mat-raised-button type="submit"  [disabled]="!frm.valid">היכנס</button>
    </form>
  </div>
</div>


