
<form class="frm1"  name="frm" (submit)="AddProduct()" #frm="ngForm">
  <mat-form-field >
    <mat-label>שם המוצר</mat-label>
    <input matInput #postalCode2 #nameProduct="ngModel" name="nameProduct" minlength="2" [(ngModel)]="pro.NameProduct" required>
    <mat-hint align="end">{{postalCode2.value.length}} / 2</mat-hint>
  </mat-form-field>
  <br>
  <mat-form-field  style="direction: ltr; margin-left: 5px;">
    <mat-label style="color: black;">קטגוריה</mat-label>
    <mat-select [(ngModel)]="selectCategory" required name="selectCat">
        <mat-option (click)="SelectCategory()" *ngFor="let c of listOfCaterory" [value]="c.CodeCategory">{{c.NameCategory}}</mat-option>
    </mat-select>
  </mat-form-field>
    <div >
      <mat-form-field  style="direction: ltr; margin-left: 5px;">
        <mat-label style="color: black;">תת קטגוריה</mat-label>
        <mat-select [(ngModel)]="selectSubCategory" required  name="selectSubCat">
           <mat-option *ngFor="let c of listOfSubCaterory"[value]="c.CodeSubCategory">{{c.NameSubCategory}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  <mat-form-field>
    <mat-label>מחיר</mat-label>
    <input matInput  #PriceProduct="ngModel" [(ngModel)]="pro.PriceProduct" name="PriceProduct" required  pattern="^[0-9]*$">
  </mat-form-field>
  <br>
  <mat-form-field>
      <mat-label>תיאור</mat-label>
      <textarea matInput  #DescriptionProduct="ngModel" [(ngModel)]="pro.DescriptionProduct" name="DescriptionProduct"></textarea>
    </mat-form-field>
    <br>
    <mat-form-field>
        <mat-label>מצב המוצר</mat-label>
        <input matInput type="number" placeholder="מספר בין 1-5"  pattern="^[1-5]*$" #StatusProduct="ngModel" [(ngModel)]="pro.StatusProduct" name="StatusProduct">
      </mat-form-field>
      <br>
      <mat-form-field>
          <mat-label>למסירה או למכירה</mat-label>
          <input matInput type="number" placeholder="0-למסירה 1- למכירה" #MoveOrBuy="ngModel" [(ngModel)]="pro.MoveOrBuy" name="MoveOrBuy" >
        </mat-form-field>
        <br>
        <mat-form-field >
            <mat-label>חדש או ישן</mat-label>
            <input matInput type="number" placeholder="0-ישן 1- חדש" #NewOrOld="ngModel" [(ngModel)]="pro.NewOrOld" name="NewOrOld" >
          </mat-form-field>
          <br>
    <br>
      <mat-label for="Image">העלאת תמונות</mat-label>
      <input type="file" name="Image1" id="image-file" (change)="OnFileSelected($event)">
      <button mat-button type="button" (click)="onUpload()">Upload</button>
      <br>
      <br>
    <br>
    <button  mat-raised-button type="submit"  [disabled]="!frm.valid">פרסם</button>
</form>
    <!--<mat-radio-group aria-label="Select an option">
        <mat-radio-button value="1"  #MoveOrBuy="ngModel" [(ngModel)]="pro.MoveOrBuy" name="MoveOrBuy">למסירה</mat-radio-button>
      </mat-radio-group>
    <br>
    <br>
    <mat-radio-group aria-label="Select an option">
        <mat-radio-button value="1"  #NewOrOld="ngModel" [(ngModel)]="pro.NewOrOld" name="NewOrOld">יד שניה</mat-radio-button>
      </mat-radio-group>-->
<!--<form action="uploading_files.php" method="POST" enctype="multipart/form-data">
  <input type="file" name="file">
  <input type="submit" value="העלה">
</form>-->





